<article>
  <div class="content">
    {% if post.image %}
    <a href="{{ site.url }}{{ post.url }}"><img class="post-image" src="{{ site.url }}/images/posts/{{ post.image }}" alt="{{ post.title }}" border="0"></a>
    {% endif %}
    <header><a href="{{ site.url }}{{ post.url }}"><h2 class="linked">{{ post.title }}</h2></a></header>
    <section>
      {{ post.excerpt }}
    </section>
    <footer>
      <a href="{{ site.url }}{{ post.url }}">{{ post.date | date_to_long_string }}</a>
      <a class="right" href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"></a>
    </footer>
  </div>
</article>

